{% extends 'index.html' %}

{% block context %}

<div class="container clearfix shadow-lg p-5 my-5">
    <form action="" method="POST" enctype="multipart/form-data" class="my-5">
        {% csrf_token %}

        <div class="row mt-5">
            <div class="col-6">
                <div class="form-group pt-3">
                    <label for="item-type"><b>Room Number: </b></label>
                    <input type="number" class="form-control border border-secondary" id="item-type" name="number"
                        required />
                </div>

                <div class="form-group">
                    <label for="item-quantity"><b>Number Of Beds: </b></label>
                    <input type="number" class="form-control border border-secondary" id="item-quantity" name="numberOfBeds"
                        required />
                </div>

                <div class="form-group">
                    <label for="item-quantity"><b>Price: </b></label>
                    <input type="number" class="form-control border border-secondary" id="item-quantity" name="price"
                        required />
                </div>

                <div class="form-group">
                    <label for="id_description"><b>Room Description: </b></label>
                    {{ form.description }}
                </div>
            </div>

            <div class="col-6">
                <div class="form-group pt-3">
                    <label for="item-type"><b>Capacity: </b></label>
                    <input type="number" min="0" class="form-control border border-secondary" id="item-type"
                        name="capacity" required />
                </div>

                <div class="form-group">
                    <label for="item-quantity"><b>Room Type</b></label>
                    <select name="roomType" required="" id="id_roomType" class="form-control border border-secondary">
                        <option value="King">King</option>
                        <option value="Luxury">Luxury</option>
                        <option value="Normal">Normal</option>
                        <option value="Economic">Economic</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="id_main_image"><b>Main Room Image: </b></label>
                    {{ form.main_image }}
                </div>

                <div class="form-group">
                    <label for="id_image_1"><b>Additional Image 1: </b></label>
                    {{ form.image_1 }}
                </div>

                <div class="form-group">
                    <label for="id_image_2"><b>Additional Image 2: </b></label>
                    {{ form.image_2 }}
                </div>

                <div class="form-group">
                    <label for="id_image_3"><b>Additional Image 3: </b></label>
                    {{ form.image_3 }}
                </div>
            </div>
        </div>

        {% if messages %}
        <div class="messages mt-3">
            {% for message in messages %}
            <div
                class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <input type="submit" class="btn btn-success px-4 float-right" value="Add Room">
    </form>
</div>
<div class="clearfix my-5 py-1">&nbsp;</div>

<style>
    .form-group {
        margin-bottom: 1rem;
    }

    textarea {
        width: 100%;
        min-height: 100px;
    }

    input[type="file"] {
        padding: 3px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
    }
</style>
{% endblock %}